# Haskell specific directories
dist/*
dist-newstyle/*
*.hi
*.o

# Cabal noise
cabal.project.local

# Log files
*.log
*.err

# Build artifacts/executables
obj/*
alb
ilab
albc
alb-hpc
*.exe
*.out
*.bat

# Misc dot files
.*